---
import BaseLayout from '../layouts/BaseLayout.astro';
import ShowCase from '../sections/Showcase.astro';
---

<BaseLayout>
  <h1
    class='font-satoshi text-4xl text-[2rem] leading-[140%] font-[447] tracking-[0.0675rem] hidden xl:block'
    aria-label="Jesswin's aim is to build reliable product experiences in his engineering work by focusing on smoothly integrating backends with intuitive front-ends, steadily crafting it all day-by-day from his home base in Keralam, India."
  >
    Jesswin aims to build reliable product experiences in his engineering work
    by focusing on smoothly integrating backends with intuitive front-ends,
    steadily crafting it all day-by-day from his home base in 🌴Keralam, India.
  </h1>

  <h1
    class='font-satoshi text-2xl text-[2rem] leading-[135%] font-normal tracking-[0.0675rem] xl:hidden'
    aria-hidden='true'
  >
    Jesswin builds reliable product experiences, focusing on integrating fluid
    backends and intuitive front-ends, steadily crafted from his home base in
    🌴Keralam, India.
  </h1>
  <ShowCase />

  <footer
    class='text-sm self-center pt-20 xl:py-8 xl:pb-16 xl:absolute bottom-2 inset-x-0 text-center'
  >
    Hey Let’s connect on <a href='https://github.com/lemokami'>Github</a>,
    <a href='https://linkedin.com/in/jesswin'>Linkedin</a> or via <a
      href='mailto:jesz@duck.com'>Email</a
    >
  </footer>
</BaseLayout>

<style>
  footer > a {
    @apply font-medium text-[#F56453] underline underline-offset-4 py-2;
  }
</style>
