---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>Jesswin - Product Engineer</title>
    <meta name='title' content='Jesswin - Product Engineer' />
    <meta
      name='description'
      content="I'm Jesswin, a product engineer specializing in crafting intuitive interfaces and experiences while integrating robust backends with modern front-end frameworks."
    />
    <meta
      name='keywords'
      content='Jesswin, product engineer, frontend engineer, backend engineer, web developer, javascript, typescript, react, nextjs, nodejs'
    />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://www.jesswin.dev' />
    <meta property='og:title' content='Jesswin - Product Engineer' />
    <meta
      property='og:description'
      content="I'm Jesswin, a product engineer specializing in crafting intuitive interfaces and experiences while integrating robust backends with modern front-end frameworks."
    />
    <meta
      property='og:keywords'
      content='Jesswin, product engineer, frontend engineer, backend engineer, web developer, javascript, typescript, react, nextjs, nodejs'
    />
    <meta property='og:image' content='/images/opengraph.png' />
    <meta
      property='og:image:alt'
      content="Hi I'm Jesswin, a Product Engineer"
    />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content='https://www.jesswin.dev' />
    <meta property='twitter:title' content='Jesswin - Product Engineer' />
    <meta
      property='twitter:description'
      content="I'm Jesswin, a product engineer specializing in crafting intuitive interfaces and experiences while integrating robust backends with modern front-end frameworks."
    />
    <meta
      property='twitter:keywords'
      content='Jesswin, product engineer, frontend engineer, backend engineer, web developer, javascript, typescript, react, nextjs, nodejs'
    />
    <meta property='twitter:image' content='/images/opengraph.png' />

    <link rel='canonical' href='https://www.jesswin.dev' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicon/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/favicon/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/favicon/favicon-16x16.png'
    />
    <link rel='shortcut icon' href='/favicon/favicon.ico' type='image/x-icon' />
  </head>
  <body
    class='bg-[#FDF8F2] max-w-[1050px] mx-auto flex flex-col justify-center min-h-screen xl:h-screen font-satoshi font-normal antialiased py-16 xl:py-auto p-8'
  >
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.ttf') format('ttf');
    font-display: swap;
  }
</style>
